In [19]:
import netCDF4

In [102]:
import numpy as np

In [166]:
import pandas as pd

url = "https://www.nco.ncep.noaa.gov/pmb/products/gfs/wafsgfs44.t00z.gribf06.grib2.shtml"

htmlPage = pd.read_html(url)

# print(htmlPage)
print(f"total # of tables {len(htmlPage)}")


df = htmlPage[1]
columns = df.iloc[1, :].values
print(columns)

dict_list = []
for idx in range(2, df.shape[0]-3):
    _dict = {}
    for icol, col in enumerate(columns):
        _dict.update({col: df.iloc[idx, icol]})
    dict_list.append(_dict)

f = pd.DataFrame(dict_list)
print(f.head())

total # of tables 2
[2.0 '70 mb' 'HGT' '6 hour fcst' 'Geopotential Height [gpm]']
   2.0   70 mb   HGT  6 hour fcst  Geopotential Height [gpm]
0  3.0   70 mb   TMP  6 hour fcst            Temperature [K]
1  4.1   70 mb  UGRD  6 hour fcst  U-Component of Wind [m/s]
2  4.2   70 mb  VGRD  6 hour fcst  V-Component of Wind [m/s]
3  5.0  100 mb   HGT  6 hour fcst  Geopotential Height [gpm]
4  6.0  100 mb   TMP  6 hour fcst            Temperature [K]

In [167]:
f.head()

   2.0   70 mb   HGT  6 hour fcst  Geopotential Height [gpm]
0  3.0   70 mb   TMP  6 hour fcst            Temperature [K]
1  4.1   70 mb  UGRD  6 hour fcst  U-Component of Wind [m/s]
2  4.2   70 mb  VGRD  6 hour fcst  V-Component of Wind [m/s]
3  5.0  100 mb   HGT  6 hour fcst  Geopotential Height [gpm]
4  6.0  100 mb   TMP  6 hour fcst            Temperature [K]

In [168]:
p6=f[f['HGT']=='APCP'] #Change column name as per demand

In [169]:
p6.columns = ['Number', 'Level/Layer', 'Parameter', 'Forecast Valid', 'Description']

In [189]:
p6

    Number Level/Layer Parameter Forecast Valid                   Description
74    64.0     surface      APCP   0-6 hour acc  Total Precipitation [kg/m^2]
75    65.0     surface      APCP   0-6 hour acc  Total Precipitation [kg/m^2]

In [177]:
p = pd.concat([p1, p2, p3, p5, p6])

In [191]:
p

     Number Level/Layer Parameter Forecast Valid                   Description
593   596.0     surface      APCP   0-3 hour acc  Total Precipitation [kg/m^2]
594   597.0     surface      APCP   0-3 hour acc  Total Precipitation [kg/m^2]
593   596.0     surface      APCP   0-3 hour acc  Total Precipitation [kg/m^2]
594   597.0     surface      APCP   0-3 hour acc  Total Precipitation [kg/m^2]
593   596.0     surface      APCP   0-3 hour acc  Total Precipitation [kg/m^2]
594   597.0     surface      APCP   0-3 hour acc  Total Precipitation [kg/m^2]
74     64.0     surface      APCP   0-6 hour acc  Total Precipitation [kg/m^2]
75     65.0     surface      APCP   0-6 hour acc  Total Precipitation [kg/m^2]
74     64.0     surface      APCP   0-6 hour acc  Total Precipitation [kg/m^2]
75     65.0     surface      APCP   0-6 hour acc  Total Precipitation [kg/m^2]

In [178]:
a=np.array(p)

In [179]:
nc_file = netCDF4.Dataset('pf.nc', 'w', format='NETCDF4')

In [180]:
nc_file.createDimension('record', a.shape[0])

<class 'netCDF4._netCDF4.Dimension'>: name = 'record', size = 10

In [181]:
id = nc_file.createVariable('id', np.int32, ('record',))
surface = nc_file.createVariable('surface', np.str, ('record',))
apcp = nc_file.createVariable('apcp', np.str, ('record',))
hour_range = nc_file.createVariable('hour_range', np.str, ('record',))
description = nc_file.createVariable('description', np.str, ('record',))

<ipython-input-181-d4e1f4b2ddc0>:2: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  surface = nc_file.createVariable('surface', np.str, ('record',))
<ipython-input-181-d4e1f4b2ddc0>:3: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  apcp = nc_file.createVariable('apcp', np.str, ('record',))
<ipython-input-181-d4e1f4b2ddc0>:4: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  hour_range = nc_file.createVariable('hour_range', np.str, ('record',))
<ipython-input-181-d4e1f4b2ddc0>:5: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  description = nc_file.createVariable('description', np.str, ('record',))

In [182]:
id[:] = a[:,0]
surface[:] = a[:,1]
apcp[:] = a[:,2]
hour_range[:] = a[:,3]
description[:] = a[:,4]

In [183]:
nc_file.close()